HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
EMAIL_PROVIDER=strapi-provider-email-gmail-api
EMAIL_DEFAULT_FROM=hello@tcules.com
EMAIL_DEFAULT_REPLY_TO=hello@tcules.com
GMAIL_SENDER_EMAIL=hello@tcules.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
CONTACT_NOTIFICATION_RECIPIENTS="jatin@tcule.com,rakesh@tcules.com,mihir@tcules.com"
SENDGRID_API_KEY=
